:root{
    --color-scrollbar: #D3D3D4;
    --color-backround-scrollbar: #eee;
}


/*Scroll Chrome*/
.content__page::-webkit-scrollbar{
    width: 25px;
    background: transparent;
}

.content__page::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.content__page:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-scrollbar);
}

.content__page:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-secondary);
}

.content__page::-webkit-scrollbar-track{
    margin: 40px 0;
    background: transparent;

}

/*Scroll para Moz*/
@-moz-document url-prefix() {
    .content__page{
        scrollbar-width: thin;
        scrollbar-color: var(--color-scrollbar) transparent;
    }
}
/*Scroll Chrome Barra Lateral*/
.layout__aside::-webkit-scrollbar{
    width: 25px;
    background: var(--color-secondary);
}

.layout__aside::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.layout__aside:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-principal);
}

.layout__aside:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-principal);
}

.layout__aside::-webkit-scrollbar-track{
    margin: 40px 0;
    background: transparent;

}


/*Scroll Barra Lateral para Moz*/

@-moz-document url-prefix() {
    .layout__aside{
        scrollbar-width: thin;
        scrollbar-color: var(--color-principal) var(--color-secondary);
    }
}